
.header {
  background: orange;
  height: 50px;
  display: flex;
  align-items: center;
  max-width: 100%;
}
.header ul {
  display: flex;
  color: #ffffff;
  font-weight: bold;
}
.header ul li {
  margin: 0 32px;
}
.header ul li:hover {
  color: blue;
}

