.container {
  max-width: 100vw;
  max-height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.headerr{
  width: 80%;
  text-align: left;
  padding: 5px;
  font-size: 14px;
  color: rgb(96, 95, 95);
  background: white;
}
.containerlist {
  width: 80%;
  background: #ffffff;
  min-height: 100vh;
  flex-direction: column;
  overflow-y: auto;
  display: flex;
  align-items: center;
  justify-content: center;
}
.list {
  text-align: left;
  padding: 16px;
}
.item ul {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  gap: 20px;
  margin-bottom: 20px;
}
.list h1 {
  font-weight: bold;
  font-size: 20px;
}
.slice{
  width: 100%;
  max-height: 40vh;
  display: flex;
  align-items: center;
  justify-content: center;
}
.img{
  width: 500px;
  height: 200px;
}
.customselect {
  background-color: orange;
  padding: 8px;
  margin-top: 19px;
  border-radius: 5px;
  width: 8vw;
  color: white;
}
.customselect option {
  background-color: black;
  color: white;
}

.newStoryUpdate{
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 20px;
  margin-top: 15px;
}
.itemStoryUpdate{
  width: 80.5%;
  text-align: left; 
}
.inline{
  border: 1px solid grey;
}
.table {
  border-collapse: collapse;
  width: 100%;
}
.td {
  border-bottom: 0.5px dotted rgb(188, 185, 185);
  border-left: 0.5px dotted rgb(188, 185, 185);
  padding: 8px;
}
tr > .td:first-child {
  border-left: none;
}
tr > .td:last-child {
  border-right: none;
}
.filter{
  width: 85%;

  flex-direction: column;
  padding: 5px;
}
.filter h1{
  text-align: left;

}
.search{
  display: flex;
  margin-bottom: 10px;
}
.input input{
  padding: 5px;
  margin-top: 20px;
  margin-right: 20px;
  border-radius: 5px;
  border: 2px solid black;
  
}
.card h2{
  font-weight: bold;
}
.card h2:hover{
  text-decoration: underline;
}



