.input input {
  width: 100%;
  height: 45px;
  line-height: 30px;
  padding-left: 1rem;
  border: 2px solid transparent;
  border-radius: 10px;
  background-color: #f8fafc;
  color: #0d0c22;
  margin-top: 10px;

}
.input input::placeholder {
  color: #94a3b8;
}
.input input:focus,
.input input:hover {
  outline: none;
  border-color: rgba(129, 140, 248);
  background-color: #fff;
  box-shadow: 0 0 0 5px rgb(129 140 248 / 30%);
}
